body {
    margin: 0;
    color: aliceblue;
    background-color: black;
    font-family: "Jaro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/*=== Intro Page CSS ===*/

.intro-page-container, .end-page-container {
    width: 100%;
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.enter-game-button {
    margin: 0;
    padding: 12px 25px;
    background-color: goldenrod;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-bottom: 5px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    font-family: "Jaro", sans-serif;

}

.enter-game-button:hover {
    border-bottom: none;
    margin-top:5px;
    text-decoration: underline;
    color: red;
}

/* === Select Charater Page === */

.character-select-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.playable-characters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;

}

.character-select-card {
    width: 200px;
    border: 2px solid red;
    padding: 5px;
}

.character-select-card:hover {
    border: 2px solid aliceblue;
    color: red;
}

.select-character-image {
    width: 100%;
    cursor: pointer;
}

/* === Gameplay Page === */

.gameplay-page-container {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-scene-container {
    width: 90%;
    height: 100%;
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.all-players-bars-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items:end;
    width: 100%;
    height: 10%;
    margin:  auto;
}

.player-bars-container {
    display: flex;
    background-color: black;
    padding: 2px 5px;
}

.player-bars {
    margin-right: 20px;
}

.mana-bar {
    margin-right: 0;
}

.enemy-bar {
    background-color: black;
    padding: 2px 5px;

}

.battleground-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    height: 60%;
    min-height: 400px;
}

.battleground-section {
    margin-top: 3%;
    width: 30%;
    max-width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;

}

.player-image, .enemy-image {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0;
}

.player-moves-container {
    position: relative;
    text-align: center;
    font-size: 1.1rem;
    margin: auto;
    padding: 0;
    line-height: 1.1rem;
    letter-spacing: 2px;
}


.commands-and-deck-container {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 20%;
}

.commands-container {
    margin: auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 25%;
}

.command-button {
    width: 90%;
    min-width: 119px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Jaro", sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    margin: auto;
}

.command-button:hover {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

.cards-in-hand-container {
    width: 50%;
    height: 100px;
    display: flex;
}

.card-in-hand {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-in-hand > img {
    width: 70%;
    max-width: 70px;
    border-radius: 7px;
    cursor: pointer;
}

.card-in-hand >img:hover {
    box-shadow: 0 0 5px aliceblue;
}

.deck-container {
    width: 20%;
    margin: auto;
}

.deck-image {
    width: 120px;
    cursor: pointer;
}

.deck-window-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    line-height: 1px;
    background-color: gray;
    align-items: center;
    padding: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.deck-window {
    display: flex;
    height: 90%;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.close-deck-window-button {
    display: block;
    margin-left: auto;
    cursor: pointer;
    background-color: goldenrod;
    border: none;
    color: aliceblue;
    font-weight: bold;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
}

.card-in-show-deck-window {
    padding: 10px;
    box-shadow: 3px 3px 3px 2px black;
    width: 20%;
    max-width: 150px;
    margin: auto;
    border-radius: 5px;
    font-size: 0.7rem;
    
}

.card-in-show-deck-window > img {
    width: 45%;
}

.card-in-show-deck-window-description {
    line-height: normal;
}

/* === Misc Icons classes === */

.player-character-container {
    position: relative;
}

.shield-icon-player {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
}

.player-shield-count {
    position: absolute;
    right: 0;
    bottom: 50px;
    background-color: black;
    width: 20px;
    height: 20px;
    border: 2px solid aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy-character-container {
    position: relative;
}


.hit-icon-enemy, .hit-icon-player {
    position: absolute;
    bottom: 0;
    margin: auto;
}


.restart-end-game-button {
    max-width: 500px;
    margin-top: 10px;
}

/* === Classes toggled with JavaScript === */

/*=== Leave HIDE at the bottom of the CSS page  ===*/

.hide {
    display: none;
}


@media (max-width: 610px) {

    .all-players-bars-container {
        font-size: 1.5rem;
        height: 250px;
    }


    .player-bars-container{
        display: inline;
    }

    .player-bars {
        margin: 0;
    }
    .enemy-image, .player-image {
        bottom: 20px;
    }

    .hit-icon-player, .hit-icon-enemy {
        width: 80%;
        bottom: 70px;
        right: 0;
        left: 0;
    }

    .shield-icon-player {
        width: 50%;
        bottom: 50px;
    }


    .commands-and-deck-container {
        height: 100%;
        margin-bottom: auto;
        display: flex;
    }


    .commands-container {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 65%;
    }

    
    .deck-container {
        position: absolute;
        bottom: -5px;
        right: 40px;
    }

    .cards-in-hand-container {
        width: 100%;
        margin: 20px auto;
        margin-bottom: auto;
    }




}
@media (max-width: 550px) {
    .enemy-image, .player-image {
        bottom: 40px;
    }

    

}
@media (max-width: 490px) {
    .enemy-image, .player-image {
        bottom: 60px;
    }

    
}

@media (max-width: 457px) {
    .select-character-image {
        width: 50%;
    }
}


